{% extends "books/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}

    <h1>Сброс пароля</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>Забыли пароль? Введите свой e-mail адрес ниже, и мы вышлем вам письмо для сброса пароля.</p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form }}
        <button class="btn" type="submit">Сбросить мой пароль</button>
    </form>
    <p>Свяжитесь с нами, если у вас возникли сложности со сменой пароля.</p>
    
{% endblock %}
